html {
    max-width: 100%;
    box-sizing: border-box;
}

#map {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 888;
    display: flex;
}

#player {
    min-width: 10rem;
    width: 6%;
    height: auto;
    position: absolute;
    border: 1px solid;
    padding: 1rem;
    background-color: #9c9ca1;
    top: 2.5%;
    left: 85%;
    z-index: 999;
    border-radius: 10px;
    font-size: 14px;
}

p {
    display: block;
}

#word {
    min-width: 20rem;
    width: 20%;
    height: 3%;
    position: absolute;
    padding-bottom: 1.3rem;
    top: 80%;
    left: 40%;
    z-index: 999;
    font-size: 45px;
    text-align: end;
    letter-spacing: 1.5rem;
}

.blue-icon {
  background-color: #2474ff;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.green-icon {
  background-color: #098000;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.orange-icon {
  background-color: #ff9800;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.hide {
  display: none;
}

#win {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.75;
    color: lawngreen;
    text-align: center;
    font-size: 5rem;
    z-index: 999;
}

#lose {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.75;
    color: red;
    text-align: center;
    font-size: 5rem;
    z-index: 999;
}